<h1 id='main-header'> </h1>

<input type='text' id='user-input' />

<button type='button' class='btn' id='add-user'>
  Add
</button>

<ul id ='users-list'>
</ul>

<button id='toggle-user-list'> Toggle User List </button>
